body {
  margin: 0px !important;
  padding: 0% !important;
}

.banner {
  height: 500px;
  background: url("./hinh1.jpg") no-repeat;
  padding: 20px;
}
.banner .about-sign-in {
  height: 80px;
  width: 100%;
  text-align: right;
}
.banner .about-sign-in .about,
.banner .about-sign-in .sign-in {
  text-decoration: none;
  margin-top: 20px;
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  color: antiquewhite;
}
.banner .about-sign-in .sign-in {
  margin-right: 60px;
  margin-left: 25px;
  border-radius: 15px;
  border: 1px solid green;
}
.banner .logo {
  background: url("./logo.png") center no-repeat;
  height: 125px;
  margin-top: 40px;
}
.banner .content-center {
  height: 130px;
  margin-top: 20px;
}
.banner .content-center .left, .banner .content-center .center, .banner .content-center .right {
  width: 33%;
  display: inline-block;
  text-align: center;
}
.banner .content-center img {
  height: 70px;
  width: 70px;
}
.banner .content-center span {
  display: block;
}
.banner .text {
  text-align: center;
  margin-top: 30px;
  color: blue;
}
.banner .btn-start-now {
  text-align: center;
}
.banner .btn-start-now button {
  text-transform: uppercase;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid green;
  margin-top: 20px;
  cursor: pointer;
}
